@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
body{
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Dosis',sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
}
.banner{
    position: relative;
    display: flex;
    height: 85vh;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #c1c3cc;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-attachment: scroll, fixed
}
.navigation{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: flex;
    width: 90%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
    padding-left: 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1000;

}


.nav-menu{
    position: absolute;
    left: 17.25%;
    top: 5%;
    right: 0%;
    bottom: auto;
    display:flex;
    height: 88px;
    width: 1014.23px;
    background-color: #ffffff;

}
.menu-item{
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: absolute;
    right: 30%;
    top: 34px;
    font-size: 13px;
    color: #414147;
    font-weight: 900;
}

.dropdown{
    position: absolute;
    right:20%; ;
    top: 34px;
    border: none;
    font-size: 13px;
    color: #414147;
    font-family: 'Dosis',sans-serif;
    font-weight: 900;
}
.quote{
    position: absolute;
    top: 5%;
    right:4.40%;
    bottom: auto;
    height: 88px;
    width: 160px;
    background-color: #e47312;
}
.p-quote{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 23px;
    font-size: 13px;
    font-family: 'Dosis',sans-serif;
    font-weight: 600;
    word-spacing: 2px;
    color: #ffffff;
}
.p-quote:hover{
    cursor: pointer;
    background-color: #e7852e;
}


.heading{
    position: absolute;
    top: 30%;
    left: 5%;
    right: 0;
    font-size: 62px;
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
}
.sub-heading{
    position: absolute;
    top: 47%;
    left: 5%;
    right: 0;
    font-size: 20px;
    color: #ffffffb3;
    margin: 10px 0px 5px;
}
.btn{
    position: absolute;
    top: 53%;
    left: 5%;
    right: 0;
    font-size: 12px;
    width: 160px;
    height: 50px;
    background-color: #e47312;
    color: #ffffff;
    padding: 15px 25px;
    border: 0px solid;
    margin-top: 26px;
}
.btn:hover{
    cursor: pointer;
    background-color: #e7852e;
}
.media-icon{
    position: absolute;
    top: 37%;
    right:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 220px;
    background-color: #0a1229;
    padding: 10px;
    cursor: pointer;
}
.icon-item{
    display: flex;
    text-decoration: 4px solid white underline;
    margin: 14px 12px 14px 14px;
}
.feature{
    position: absolute;
    top: 70%;
    right: 2%;
    display: flex;
    flex-direction: row;
    height: 229px;
    width: 1000px;
    background-color: #e47312;    
}
.info-sec{
    margin: 40px 0px 20px 128px;
}
.info{
    text-align: center;
    font-size: 13px;
    padding: 0px 0px 10px;
    color: #ffffff;
}
.info-2{
    font-size: 17px;
    padding: 0px 0px 5px;
    color: #ffffffb3;
}
.main-section{
    margin-top: 100px;
}
.top-title{
    margin-top: 200px;
    margin-left: 50px;
    color: #121213;
    font-size: 32px;
    font-family: 'Dosis',sans-serif;

}
.service{
    position: absolute;
    top: 116vh;
    right: 5%;
    font-size: 13px;
    color: #919198;
    font-weight: 700;
}
.service-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
}
.work-info{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 140px;
  padding-right: 140px;
  line-height: 1.4;
   
}
.company-info{
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 80px;
    margin-bottom: 90px;
}
.proff{
    display: flex;
    flex-direction: row;
    gap: 55px;
    justify-content: center;
    margin-top: 90px;
}
.testimonial{
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}
.side-view:hover{
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom-style:solid ;
    border-bottom-width:2.1px ;
    border-color: #e47312;
    width: fit-content;
}
.logo-1w:hover{
    cursor: pointer;
}
.footer{
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #0A1229;
    height: 561px;
    width: 90%;
    margin-left: 5%;
 
}
.foot-d{
    width: 259.77px;
    height: 225px;
    margin-left: 52px;
    padding-top: 70px;
    line-height: 1.4;
}
.foot-item{
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 10px;
    
}
.foot-item2:hover{
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom-style:solid ;
    border-bottom-width:2.1px ;
    width: fit-content;
    
}

.foot-c{
    font-size: 17px;
    color: #ffffffb3;
    margin: 0px 0px 5px 35px;
}
.logo-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   top: 990vh;
   left: 11%;
    width: 160px;
    cursor: pointer;
    height: 110px;
    background-color: #e47312;
}


    
  
  




    


